name: "Terraform CI - NCP"

on: 
  push:
    branches: ["main"]
    paths:
      - "terraform/live/ncp-active/**"

permissions:
  contents: read

jobs:
  terraform-ncp:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./terraform/live/ncp-active
    env:
      NCLOUD_ACCESS_KEY: ${{ secrets.NCLOUD_ACCESS_KEY }}
      NCLOUD_SECRET_KEY: ${{ secrets.NCLOUD_SECRET_KEY }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve
