name: "Terraform CI - NCP"

on:
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  terraform-ncp:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./terraform/live/ncp-active

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="bucket=${{ secrets.GCP_TF_STATE_BUCKET }}" \
            -backend-config="prefix=terraform/ncp-active"

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve
