name: Terraform CI - NCP

on:
  push:
    branches: ["main"]
    paths:
      - "terraform/live/ncp-active/**"
      - "terraform/modules/ncp/**"
      - ".github/workflows/terraform-ncp.yml"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  terraform-ncp:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform/live/ncp-active

    env:
      NCLOUD_ACCESS_KEY: ${{ secrets.NCP_ACCESS_KEY }}
      NCLOUD_SECRET_KEY: ${{ secrets.NCP_SECRET_KEY }}

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Plan
        run: terraform plan -input=false

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve -input=false
